<h2>My Transactions</h2>
<!--<div>-->
  <!--<label>Hero name:</label> <input #heroName />-->
  <!--<button (click)="add(heroName.value); heroName.value=''">-->
    <!--Add-->
  <!--</button>-->
<!--</div>-->
<form (ngSubmit)="onSubmit()" style="width: 50%">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" class="form-control" [(ngModel)]="username"/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="password"/>
  </div>
  <select [(ngModel)]="type">
    <option [ngValue]="market">Market order</option>
    <option [ngValue]="limit">Limit order</option>
  </select>
  <select [(ngModel)]="symbol">
    <option [ngValue]="EURUSD">EUR/USD</option>
    <option [ngValue]="EURJPY">EUR/JPY</option>
  </select>
  <input/>
  <select [(ngModel)]="side">
    <option value="BUY">BUY</option>
    <option value="SELL">SELL</option>
  </select>
  <input [ngIf]="type == limit" type="submit" [(ngModel)]="limit"/>
  <button>Place order</button>
</form>

<ul>
  <li *ngFor="let transaction of transactions | async" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span>{{transaction.time}}</span>
    <button (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>

